<!DOCTYPE html>
<html>
<head>
    <meta charset="iso-8859-1" />
    <title>Signicat.Basic</title>
    <style> body { font-family: Sans-Serif; font-size: 12px; } </style>
</head>
<body>
    @RenderBody()
</body>
</html>
